{%extends 'trti/base.html'%} {% load static%} {%block content%}

<style>
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1em;
        min-width: 800px;
        height: 800px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
    
    .content-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }
    
    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }
    
    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
</style>
<div class="container pt-3">
    <div class="row justify-content-start">
        <div class="col d-flex justify-content-start">
            <!-- <div class="social-media"> -->
            <img width="150" height="150" src="{% static 'mysite/images/trti-logo.jpg' %}" class="" style="padding-bottom: 10px;"> </a>

        </div>
        <div class="col">
            <a class="navbar-brand" style="font-size: xx-large; text-align: center; padding-bottom: 5px; padding-top:40px;" href="{% url 'home' %}">Skill Development <span>And Entrepreneurship for Tribal youth</span></a>
        </div>


    </div>
</div>
</div>

<!-- Navigation -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg my-navbar">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">About us</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'aboutus' %}">Background</a>
                        <a class="dropdown-item" href="{% url 'vision' %}">Vision and Mission</a>
                        <a class="dropdown-item" href="{% url 'contactus' %}">Contact Us</a>

                    </ul>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'whoswho' %}">Who's who</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Organizations</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#">TDD</a>
                        <a class="dropdown-item" href="https://trti.maharashtra.gov.in/index.php/en/">TRTI</a>
                        <a class="dropdown-item" href="http://www.ctara.iitb.ac.in/">IIT,Bombay</a>
                        <a class="dropdown-item" href="{% url 'umainstitutes' %}">UMA Institutes</a>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Maps</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'map' %}">Focus areas & Institutes</a>
                        <a class="dropdown-item" href="{% url 'villages' %}">TRTI villages</a>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Skill development</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Schemes</a>
                        <a class="dropdown-item" href="#">Standard and Quality</a>
                        <a class="dropdown-item" href="#">Training Providers</a>
                        <a class="dropdown-item" href="#">Innovations</a>
                        <a class="dropdown-item" href="{% url 'coursesdetails' %}">Courses Available</a>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Entrepreneurship</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'proposedschemes' %}">Proposed Scheme</a>
                        <a class="dropdown-item" href="#">Partners</a>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Resources</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'gallery' %}">Photogallery</a>
                        <a class="dropdown-item" href="{% url 'links' %}">Important Links</a>
                        <a class="dropdown-item" href="{% url 'reports' %}">Survey Reports</a>
                        <a class="dropdown-item" href="#">Guidelines</a>
                        <a class="dropdown-item" href="#">Monthly Summary</a>

                    </ul>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}">Login/Register</a>
                </li>


            </ul>
        </div>
    </nav>
</div>




<h1 style="text-align:center">Regular Courses for Skill Development</h1>
<table class="content-table">

    <thead>
        <tr>
            <th>S.No.</th>
            <th>Courses</th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Automobile(Auto mechanic)</td>

        </tr>
        <tr>
            <td>2.</td>
            <td>Solar Energy(Solar pump/lamps installation and repairs)</td>


        </tr>
        <tr>
            <td>3.</td>
            <td>Telecommunication(Mobile Service/Repairs)</td>


        </tr>
        <tr>
            <td>4.</td>
            <td>Construction(Mason,Carpenter,Electrician,Plumber,Welder etc.)</td>

        </tr>

        <tr>
            <td>5.</td>
            <td>Healthcare(Nursing,Elderly Care,Technicians etc.)</td>

        </tr>
        <tr>
            <td>6.</td>
            <td>Service(Driver,cook,customer service,Representative,Hair stylist,Beautician)</td>

        </tr>
        <tr>
            <td>6.</td>
            <td>Service(Driver,cook,customer service,Representative,Hair stylist,Beautician)</td>

        </tr>
        <tr>
            <td>7.</td>
            <td>Retail(Cashier,customer service Reperentative)</td>

        </tr>

    </tbody>
</table>

<!--- Footer -->
<!--- Footer -->
<footer>
    <div class="container-fluid padding ">
        <div class="row text-center">
            <div class="col-md-4 ">
                <hr class="light ">
                <h5>TRTI</h5>
                <ul class="footer_sec-links" style="list-style:none">
                    <li><a href="#">Maharashtra state,28</a></li>

                    <li>
                        <a href="#">Queen's Garden, Pune - 411 001</a>
                    </li>

                </ul>

            </div>
            <div class="col-md-4 ">
                <hr class="light ">
                <h5>Related Links</h5>
                <ul class="footer_sec-links" style="list-style: none;">
                    <li><a href="https://www.india.gov.in/" target="_blank" rel="noopener noreferrer">National Portal of India </a></li>
                    <li><a href="https://tribal.maharashtra.gov.in" target="_blank" rel="noopener noreferrer">Tribal development Department </a></li>
                    <li><a href="https://tribal.maharashtra.gov.in" target="_blank" rel="noopener noreferrer">Tribal Commissionerate </a></li>
                    <li><a href="https://aaplesarkar.maharashtra.gov.in" target="_blank" rel="noopener noreferrer">Aaple Sarkar</a></li>
                    <li><a href="https://tribal.nic.in" target="_blank" rel="noopener noreferrer">Ministry of Tribal Affairs-Govt of India</a></li>
                    <li><a href="https://www.mygov.in" target="_blank" rel="noopener noreferrer">My Gov</a></li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <hr class="light ">
                <h5>Security Policy</h5>
                <ul class="footer_sec-links" style="list-style:none">
                    <li><a href="#">Hyperlink Policy</a></li>
                    <li><a href="#">Terms and Conditions </a></li>
                    <li><a href="#">Privacy Policy </a></li>
                    <li><a href="#">Copyright Policy</a></li>

                </ul>
            </div>

        </div>
    </div>
</footer>


{%endblock%}