{%extends 'trti/base.html'%} {% load static%} {%block content%}

<div class="container pt-3">
    <div class="row justify-content-start">
        <div class="col d-flex justify-content-start">
            <!-- <div class="social-media"> -->
            <img width="150" height="150" src="{% static 'mysite/images/trti-logo.jpg' %}" class="" style="padding-bottom: 10px;"> </a>

        </div>
        <div class="col">
            <a class="navbar-brand" style="font-size: xx-large; text-align: center; padding-bottom: 5px; padding-top:40px;" href="{% url 'home' %}">Skill Development <span>And Entrepreneurship for Tribal youth</span></a>
        </div>


    </div>
</div>
</div>

<!-- Navigation -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg my-navbar">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">About us</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'aboutus' %}">Background</a>
                        <a class="dropdown-item" href="{% url 'vision' %}">Vision and Mission</a>
                        <a class="dropdown-item" href="{% url 'contactus' %}">Contact Us</a>

                    </ul>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'whoswho' %}">Who's who</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Organizations</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#">TDD</a>
                        <a class="dropdown-item" href="https://trti.maharashtra.gov.in/index.php/en/">TRTI</a>
                        <a class="dropdown-item" href="http://www.ctara.iitb.ac.in/">IIT,Bombay</a>
                        <a class="dropdown-item" href="{% url 'umainstitutes' %}">UMA Institutes</a>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Maps</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'map' %}">Focus areas & Institutes</a>
                        <a class="dropdown-item" href="{% url 'villages' %}">TRTI villages</a>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Skill development</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Schemes</a>
                        <a class="dropdown-item" href="#">Standard and Quality</a>
                        <a class="dropdown-item" href="#">Training Providers</a>
                        <a class="dropdown-item" href="#">Innovations</a>
                        <a class="dropdown-item" href="{% url 'coursesdetails' %}">Courses Available</a>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Entrepreneurship</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'proposedschemes' %}">Proposed Scheme</a>
                        <a class="dropdown-item" href="#">Partners</a>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Resources</a>
                    <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'gallery' %}">Photogallery</a>
                        <a class="dropdown-item" href="{% url 'links' %}">Important Links</a>
                        <a class="dropdown-item" href="{% url 'reports' %}">Survey Reports</a>
                        <a class="dropdown-item" href="#">Guidelines</a>
                        <a class="dropdown-item" href="#">Monthly Summary</a>

                    </ul>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}">Login/Register</a>
                </li>


            </ul>
        </div>
    </nav>
</div>


<!--- Image Slider -->

<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
        <li data-target="#slides" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'mysite/images/img1.jpg' %}">
            <div class="carousel-caption">
                <h1 class="display-2">Skill Development</h1>
                <h3>For the tribal youth of Maharashtra</h3>
                <button type="button" class="btn btn-outline-light btn-lg">VIEW DEMO</button>
                <button type="button" class="btn btn-primary-light btn-lg">GET STARTED</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'mysite/images/img2.jpg' %}">
        </div>
        <div class="carousel-item">
            <img src="{% static 'mysite/images/img3.jpg' %}">
        </div>
        <div class="carousel-item">
            <img src="{% static 'mysite/images/img4.jpg' %}">
        </div>
    </div>
</div>


<div class="news-bar clearfix"> <span>Latest news & update</span>
    <div class="news-scroll">
        <marquee>

            <strong> <a href="#" target="_blank"> Available skill develoment courses for tribal youth </strong>
            <strong> <a href="#" target="_blank"> Available opportunities for tribal youth </strong>
        </marquee>
    </div>
</div>




<!--- Welcome Section -->


<!--- Three Column Section -->


<!--- Two Column Section -->






<!--- Emoji Section -->


<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->
<div class="container-fluid padding" style="padding-top: 35px; padding-bottom: 40px; padding-left: 35px;">
    <div class="row welcome text-center ">
        <div class="col-12 ">
            <h1 class="dispaly--4 ">OUR MISSION</h1>
        </div>
        <hr>
    </div>

    <div class="row padding">
        <div class="col-md-12 col-lg-6">

            <p>
                Tribal Research and Training Institute has been the only government organization in the state to conduct various training programs in the context of Tribal subjects for the last 50 years and tribal subjects. The Central Government has appointed this organization
                as the nodal agency for all tribal research and training institutes in the country by taking note of the work of this organization. The golden festival was celebrated by tribal research and training organization in 2013 and the golden
                festival was inaugurated at the hands of the then President of India Mr. Pranab Mukherjee. On this occasion, this institution has been given the status of an autonomous institution by fixing the following objectives by increasing the scope
                of the original objectives of the organization to advise and guide the Tribal for the overall development of tribals as well as for the overall development of tribals.
            </p>
            <br>
            <a href=" # " class="btn btn-primary ">Learn More</a>
        </div>
        <div class="col-lg-6 ">
            <img src="{% static 'mysite/images/img3.jpg' %}" style="object-fit: contain; " height="300 " width="auto ">
        </div>

    </div>
</div>


<!--- Fixed background -->









<!--- Footer -->
<footer>
    <div class="container-fluid padding ">
        <div class="row text-center">
            <div class="col-md-4 ">
                <hr class="light ">
                <h5>TRTI</h5>
                <ul class="footer_sec-links" style="list-style:none">
                    <li><a href="#">Maharashtra state,28</a></li>

                    <li>
                        <a href="#">Queen's Garden, Pune - 411 001</a>
                    </li>

                </ul>

            </div>
            <div class="col-md-4 ">
                <hr class="light ">
                <h5>Related Links</h5>
                <ul class="footer_sec-links" style="list-style: none;">
                    <li><a href="https://www.india.gov.in/" target="_blank" rel="noopener noreferrer">National Portal of India </a></li>
                    <li><a href="https://tribal.maharashtra.gov.in" target="_blank" rel="noopener noreferrer">Tribal development Department </a></li>
                    <li><a href="https://tribal.maharashtra.gov.in" target="_blank" rel="noopener noreferrer">Tribal Commissionerate </a></li>
                    <li><a href="https://aaplesarkar.maharashtra.gov.in" target="_blank" rel="noopener noreferrer">Aaple Sarkar</a></li>
                    <li><a href="https://tribal.nic.in" target="_blank" rel="noopener noreferrer">Ministry of Tribal Affairs-Govt of India</a></li>
                    <li><a href="https://www.mygov.in" target="_blank" rel="noopener noreferrer">My Gov</a></li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <hr class="light ">
                <h5>Security Policy</h5>
                <ul class="footer_sec-links" style="list-style:none">
                    <li><a href="#">Hyperlink Policy</a></li>
                    <li><a href="#">Terms and Conditions </a></li>
                    <li><a href="#">Privacy Policy </a></li>
                    <li><a href="#">Copyright Policy</a></li>

                </ul>
            </div>

        </div>
    </div>
</footer>



{%endblock%}